version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    
    env_file:
      - config.env

    env_file:
      - .env

    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}


    ports:
      - "${DB_PORT}:${DB_PORT}"

    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
  
    restart: always

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go_api_server
    env_file:
      - .env
    ports:
      - "${SERVER_PORT}:8080"
    depends_on:
      - db
      
    restart: always

volumes:
  postgres_data:
    driver: local